// Colors

$black: #000000;
$gray-dark: #2d2d2d;
$pink-dark: #ffb3de;
$pink-light: #ffdfef;
$red-dark: #ff0c38;
$white: #ffffff;

// Spacing

$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 6.4rem;
$xxl-size: 12.8rem;
$desktop-breakpoint: 45rem;