// Big Button

.big-button {
    background: $red-dark;
    border: none;
    border-bottom: .75rem solid darken($red-dark, 10%);
    color: $white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:hover {
    background: darken($red-dark, 10%);
    border-bottom: .75rem solid darken($red-dark, 20%);
  }