.container {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 $m-size; 
}

.container__header {
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 $m-size; 
}

.container__list {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 $m-size; 
}