.header {
    background: $pink-dark;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header__logo {
    height: 130px;
    width: 130px;
}

.header__title {
    color: $red-dark;
    font-size: $xl-size;
    font-weight: 800;
    margin: 0;
    padding: 0 0 $xs-size 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
}

.header__subtitle {
    color: $gray-dark;
    font-size: $m-size;
    font-style: italic;
    font-weight: 500;
    margin: 0;
}