// Button

.button {
    background: $red-dark;
    border: none;
    border-bottom: .5rem solid darken($red-dark, 10%);
    color: $white;
    font-weight: bold;
    padding: $s-size $xl-size;
}

.button:hover {
    background: darken($red-dark, 10%);
    border-bottom: .5rem solid darken($red-dark, 20%);
}

// Big Button

.big-button {
    background: $red-dark;
    border: none;
    border-bottom: .75rem solid darken($red-dark, 10%);
    color: $white;
    font-size: $l-size;
    font-weight: bold;
    margin-bottom: $xxl-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:hover {
    background: darken($red-dark, 10%);
    border-bottom: .75rem solid darken($red-dark, 20%);
}

.big-button:disabled {
    opacity: .5;
    background: darken($red-dark, 10%);
    border-bottom: .75rem solid darken($red-dark, 20%);
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}
