// Footer

.footer {
    background: $pink-dark;
    margin-top: $xxl-size;
    padding: $s-size 0;
}

.footer__attribution {
    color: $gray-dark;
    font-size: $s-size;
    font-weight: 500;
    margin: 0;
    text-align: center;
    a {
        font-weight: bold;
        text-decoration: none;
    }
}

@media (max-width: $desktop-breakpoint) {
    .footer {
        margin-top: $xl-size;
    }
}