// Item
.item {
    display: inline-block;
    padding: $s-size 0.4rem;
    width: 75px;
}

.item__image {
    height: 60px;
    width: 60px;
}

.item__name {
    font-size: $s-size;
    margin: 0;
    padding: $xs-size 0 0 0;
}

@media (min-width: $desktop-breakpoint) {
    .item {
        padding: $s-size $xs-size;
        width: 80px;
    }
}