// React Modal Portal

.ReactModalPortal>div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

// Modal

.modal {
	background: $pink-light;
	border: .2rem solid darken($pink-light, 10%);
	outline: none;
	padding: $l-size;
	text-align: center;
	width: 20rem;
}

.modal__title {
	color: $black;
	margin: 0 0 $l-size 0;
}

.modal__image {
	height: 100px;
	margin: 0 0 $l-size 0;
	width: 100px;
}
