// Widget 

.widget {
    margin-bottom: $m-size;
}

.widget-header {
    background: $red-dark;
    border: .2rem solid darken($red-dark, 10%);
    color: $white;
    padding: $s-size;
    text-align: center;
    h2 {
        margin: 0;
    }
}

.widget-container {
    background-color: $white;
    border-bottom: .2rem solid darken($pink-light, 10%);
    border-left: .2rem solid darken($pink-light, 10%);
    border-right: .2rem solid darken($pink-light, 10%);
    padding: $xs-size 0;
    text-align: center;
}
