.widget {
    background: blue;
    margin-bottom: $s-size;
}

.widget__message {
    border-bottom: 1px solid lighten(blue, 10%);
    color: white;
    margin: 0;
    padding: $l-size;
    text-align: center;
}

.widget-header {
    background: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}