// Widget 

.widget {
    background: $pink-dark;
    margin-bottom: $m-size;
}

.widget-header {
    background: $red-dark;
    border-bottom: .3rem solid darken($red-dark, 20%);
    color: $white;
    margin: 0;
    padding: $s-size;
    text-align: left;
}

.widget__message {
    background: $red-dark;
    border-bottom: .3rem solid darken($red-dark, 20%);
    color: $white;
    margin: 0;
    padding: $s-size;
    text-align: center;
}