// ================================================================================================
// Variables
// ================================================================================================

// Breakpoints

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

// Colors

$colors: (
  'app': (
    'pink-100': hsl(337, 84%, 95%),         // HEX: #FDE8F0
    'pink-200': hsl(334, 100%, 92%)         // HEX: #FFD6E8
  ),
  'basic': (
    'black': hsl(0, 0%, 0%),                // HEX: #000000
    'white': hsl(0, 0%, 100%)               // HEX: #FFFFFF
  ),
  'logo': (
    'red-100': hsl(349, 100%, 52%),         // HEX: #FF0C38
    'red-200': hsl(349, 100%, 39%)          // HEX: #C70024
  ),
  'shadow': (
    'black-25': hsla(0, 0%, 0%, 0.25),      // HEX: #000000
    'black-50': hsla(0, 0%, 0%, 0.5),       // HEX: #000000
    'black-75': hsla(0, 0%, 0%, 0.75)       // HEX: #000000
  ),
  'toggle-switch': (
    'default-gray-100': hsl(0, 0%, 98%),    // HEX: #FAFAFA
    'default-gray-200': hsl(0, 0%, 84%),    // HEX: #D6D6D6
    'off-red-100': hsl(0, 99%, 64%),        // HEX: #FE4848
    'off-red-200': hsl(0, 99%, 50%),        // HEX: #FE0101
    'on-green-100': hsl(124, 79%, 58%),     // HEX: #3FE94B
    'on-green-200': hsl(124, 79%, 44%)      // HEX: #18C923
  )
);

// Font families

$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-sans-serif: Arial, 'Helvetica Neue', Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
