# Dependencies
/node_modules

# Production
/build

# Unused Folders
/src/actions
/src/assets/fonts
/src/assets/images
/src/context
/src/reducers
/src/routers
/src/selectors
/src/store

# Misc.
.DS_Store