# Dependencies
/node_modules

# Production
/build

# Misc.
.DS_Store

# Unused Folders
/src/actions
/src/assets/fonts
/src/assets/images
/src/context
/src/reducers
/src/routers
/src/selectors
/src/store
/src/tests/actions
/src/tests/fixtures
/src/tests/hooks
/src/tests/reducers
/src/tests/selectors