// ================================================================================================
// Typography styles
// ================================================================================================

body {
  color: map-get($colors, 'basic', 'black');
  font-family: 'Titan One';
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Titan One

@font-face {
  font-display: swap;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/TitanOne-Regular.ttf') format('truetype');
}
