// ================================================================================================
// Container styles
// ================================================================================================

.container {
  flex-grow: 1;
  gap: map-get($spaces, 'md');
  margin: 0 auto;
  max-width: 65rem;
  padding: map-get($spaces, 'lg') 2.6rem map-get($spaces, 'xxl');
}
