// ================================================================================================
// Footer styles
// ================================================================================================

.footer {
  background-color: map-get($colors, 'app', 'pink-dark');
  border-top: 0.1rem solid darken(map-get($colors, 'app', 'pink-dark'), 10%);
  flex-shrink: 0;
  font-size: 1.4rem;
  padding: map-get($spaces, 'xs') 0;
  text-align: center;
}
