// ================================================================================================
// Board
// ================================================================================================

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 1.6rem;
}

.board__elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

// Landscape phones

@media (min-width: map-get($breakpoints, 'sm')) {
  .board {
    max-width: 50rem;
  }
}

// Tablets

@media (min-width: map-get($breakpoints, 'md')) {
  .board {
    max-width: 70rem;
  }
}

// Desktops

@media (min-width: map-get($breakpoints, 'lg')) {
  .board {
    max-width: 90rem;
  }
}
