// ================================================================================================
// Draw styles
// ================================================================================================

.draw-button {
  background: map-get($colors, 'logo', 'red-light');
  border: none;
  border-bottom: 0.75rem solid darken(map-get($colors, 'logo', 'red-light'), 10%);
  color: map-get($colors, 'basic', 'white');
  font-size: map-get($spaces, 'lg');
  font-weight: bold;
  padding: 2.4rem;
  width: 100%;
}

.draw-button:hover {
  background: darken(map-get($colors, 'logo', 'red-light'), 10%);
  border-bottom: 0.75rem solid darken(map-get($colors, 'logo', 'red-light'), 20%);
}

.draw-button:disabled {
  opacity: 0.5;
  background: darken(map-get($colors, 'logo', 'red-light'), 10%);
  border-bottom: 0.75rem solid darken(map-get($colors, 'logo', 'red-light'), 20%);
}
