// ================================================================================================
// Draw styles
// ================================================================================================

.draw {
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
  padding: 4rem 1.6rem 6.4rem;
}

.draw__start-button {
  background-color: map-get($colors, 'logo', 'red-100');
  border-top: 0;
  border-right: 0;
  border-bottom: 0.75rem solid map-get($colors, 'logo', 'red-200');
  border-left: 0;
  color: map-get($colors, 'basic', 'white');
  display: block;
  font-family: 'Titan One';
  font-size: 1.8rem;
  font-weight: 700;
  height: 70px;
  margin-left: 4.4rem;
  padding: 0;
  width: 250px;
  @include border-radius(35px);
  @include drop-shadow(0.3rem, 0.3rem, 0.3rem, map-get($colors, 'shadow', 'black-25'));

  &:disabled {
    background-color: darken(map-get($colors, 'logo', 'red-100'), 10%);
    border-bottom-color: darken(map-get($colors, 'logo', 'red-200'), 10%);
    opacity: 0.5;
  }
}

.draw__reset-button {
  background: 0;
  border: 0;
  display: block;
  height: 32px;
  padding: 0;
  width: 32px;
  @include drop-shadow(0.175rem, 0.175rem, 0.175rem, map-get($colors, 'shadow', 'black-50'));

  &:disabled {
    opacity: 0.5;
  }
}

.draw__reset-icon {
  height: 32px;
  transform: rotate(30deg);
  width: 32px;
}

.draw__reset-button:disabled .draw__reset-icon {
  filter: invert(15%) sepia(98%) saturate(5302%) hue-rotate(342deg) brightness(80%) contrast(112%); // HEX: #D60027
}

@media (hover: hover) and (pointer: fine) {
  .draw__start-button:hover:not([disabled]) {
    background-color: darken(map-get($colors, 'logo', 'red-100'), 10%);
    border-bottom-color: darken(map-get($colors, 'logo', 'red-200'), 10%);
  }

  .draw__reset-button:hover:not([disabled]) .draw__reset-icon {
    filter: invert(15%) sepia(98%) saturate(5302%) hue-rotate(342deg) brightness(80%) contrast(112%); // HEX: #D60027
  }
}

// Landscape phones

@media (min-width: map-get($breakpoints, 'sm')) {
  .draw {
    gap: 1.4rem;
  }

  .draw__start-button {
    border-bottom-width: 0.75rem;
    font-size: 2.2rem;
    height: 80px;
    margin-left: 5rem;
    width: 300px;
    @include border-radius(40px);
    @include drop-shadow(0.4rem, 0.4rem, 0.4rem, map-get($colors, 'shadow', 'black-25'));
  }

  .draw__reset-button {
    height: 36px;
    width: 36px;
    @include drop-shadow(0.2rem, 0.2rem, 0.2rem, map-get($colors, 'shadow', 'black-50'));
  }

  .draw__reset-icon {
    height: 36px;
    width: 36px;
  }
}

// Tablets

@media (min-width: map-get($breakpoints, 'md')) {
  .draw {
    gap: 1.6rem;
  }

  .draw__start-button {
    border-bottom-width: 1rem;
    font-size: 2.8rem;
    height: 90px;
    margin-left: 5.6rem;
    width: 400px;
    @include border-radius(45px);
    @include drop-shadow(0.5rem, 0.5rem, 0.5rem, map-get($colors, 'shadow', 'black-25'));
  }

  .draw__reset-button {
    height: 40px;
    width: 40px;
    @include drop-shadow(0.225rem, 0.225rem, 0.225rem, map-get($colors, 'shadow', 'black-50'));
  }

  .draw__reset-icon {
    height: 40px;
    width: 40px;
  }
}

// Desktops

@media (min-width: map-get($breakpoints, 'lg')) {
  .draw {
    gap: 1.8rem;
  }

  .draw__start-button {
    border-bottom-width: 1rem;
    font-size: 3.4rem;
    height: 100px;
    margin-left: 6.2rem;
    width: 500px;
    @include border-radius(50px);
    @include drop-shadow(0.6rem, 0.6rem, 0.6rem, map-get($colors, 'shadow', 'black-25'));
  }

  .draw__reset-button {
    height: 44px;
    width: 44px;
    @include drop-shadow(0.25rem, 0.25rem, 0.25rem, map-get($colors, 'shadow', 'black-50'));
  }

  .draw__reset-icon {
    height: 44px;
    width: 44px;
  }
}
