// ================================================================================================
// Element styles
// ================================================================================================

.element {
  border: 0.1rem solid darken(map-get($colors, 'app', 'pink-dark'), 10%);
  margin: map-get($spaces, 'xxs');
  width: 85px;
  @include border-radius(5px);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: lighten(map-get($colors, 'basic', 'black'), 90%);
    }
  }
}

.element__label {
  align-items: center;
  justify-content: center;
  padding: map-get($spaces, 'xxs');
}

.element__checkbox {
  align-self: flex-end;
}

.element__image {
  height: 50px;
  margin: map-get($spaces, 'xxs') 0 map-get($spaces, 'xs');
  width: 50px;
}

.element__caption {
  font-size: map-get($spaces, 'sm');
}
