// ================================================================================================
// Modal styles
// ================================================================================================

// React Modal Overlay

.ReactModal__Overlay {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

// React Modal Content

.modal {
  align-items: center;
  border: 0.5rem solid;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 175px;
  justify-content: center;
  width: 200px;
  @include border-radius(25px);
  @include drop-shadow(0, 0, 1rem, map-get($colors, 'shadow', 'black-50'));
  @include user-select(none);
}

.modal--dark {
  background-color: map-get($colors, 'application', 'gray-300');
  border-color: map-get($colors, 'application', 'gray-200');
}

.modal--light {
  background-color: map-get($colors, 'application', 'pink-100');
  border-color: map-get($colors, 'application', 'pink-200');
}

.modal__image {
  height: 78px;
  margin: 0.3rem 0 0;
  pointer-events: none;
  width: 78px;
}

.modal__caption {
  font-family: 'Titan One';
  font-size: 1.8rem;
}

.modal__caption--dark {
  color: map-get($colors, 'basic', 'white');
}

.modal__caption--light {
  color: map-get($colors, 'basic', 'black');
}

// Landscape phones

@media (min-width: map-get($breakpoints, 'sm')) {
  .modal {
    gap: 1.75rem;
    height: 200px;
    width: 225px;
    @include drop-shadow(0, 0, 1.2rem, map-get($colors, 'shadow', 'black-50'));
  }

  .modal__image {
    height: 94px;
    margin: 0.4rem 0 0;
    width: 94px;
  }

  .modal__caption {
    font-size: 2rem;
  }
}

// Tablets

@media (min-width: map-get($breakpoints, 'md')) {
  .modal {
    gap: 2rem;
    height: 225px;
    width: 250px;
    @include drop-shadow(0, 0, 1.4rem, map-get($colors, 'shadow', 'black-50'));
  }

  .modal__image {
    height: 112px;
    margin: 0.5rem 0 0;
    width: 112px;
  }

  .modal__caption {
    font-size: 2.4rem;
  }
}

// Desktops

@media (min-width: map-get($breakpoints, 'lg')) {
  .modal {
    gap: 2.25rem;
    height: 250px;
    width: 275px;
    @include drop-shadow(0, 0, 1.6rem, map-get($colors, 'shadow', 'black-50'));
  }

  .modal__image {
    height: 128px;
    margin: 0.6rem 0 0;
    width: 128px;
  }

  .modal__caption {
    font-size: 2.6rem;
  }
}
