// ================================================================================================
// Modal styles
// ================================================================================================

// React Modal Portal

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

// Modal

.modal {
  align-items: center;
  background: map-get($colors, 'app', 'pink-light');
  border: 0.2rem solid darken(map-get($colors, 'app', 'pink-dark'), 10%);
  justify-content: center;
  padding: map-get($spaces, 'md');
  @include border-radius(15px);
}

.modal__close {
  align-self: flex-end;
  background: none;
  background-image: url('data:image/svg+xml;utf8,<svg id="x-icon" viewBox="0 0 128 128" width="128" height="128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><line x1="36" y1="36" x2="92" y2="92" stroke="black" stroke-width="12" stroke-linecap="round" /><line x1="92" y1="36" x2="36" y2="92" stroke="black" stroke-width="12" stroke-linecap="round" /></svg>');
  background-size: cover;
  border: 2px solid map-get($colors, 'basic', 'black');
  height: 25px;
  padding: 0;
  width: 25px;
  @include border-radius(50%);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.modal__image {
  height: 125px;
  margin: map-get($spaces, 'sm') map-get($spaces, 'xl');
  width: 125px;
}

.modal__caption {
  font-size: map-get($font-sizes, 'lg');
  font-weight: 700;
  margin: map-get($spaces, 'sm') 0 map-get($spaces, 'md');
}
