// ================================================================================================
// Widget styles
// ================================================================================================

.widget-header {
  background: map-get($colors, 'logo', 'red-light');
  border: 0.2rem solid darken(map-get($colors, 'logo', 'red-light'), 10%);
  color: map-get($colors, 'basic', 'white');
  padding: map-get($spaces, 'sm');
  text-align: center;
}

.widget-header__reset {
  background: none;
  border: none;
  color: map-get($colors, 'basic', 'white');
  font-size: map-get($font-sizes, 'lg');
  font-weight: 700;
  padding: 0;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: lighten(map-get($colors, 'basic', 'black'), 90%);
    }
  }
}

.widget-content {
  align-items: center;
  background-color: map-get($colors, 'basic', 'white');
  border-bottom: 0.2rem solid darken(map-get($colors, 'app', 'pink-dark'), 10%);
  border-left: 0.2rem solid darken(map-get($colors, 'app', 'pink-dark'), 10%);
  border-right: 0.2rem solid darken(map-get($colors, 'app', 'pink-dark'), 10%);
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: map-get($spaces, 'sm');
}
