// Colors
$black: #000000;
$dark-gray: #2d2d2d;
$powder-pink: #ffa5bb;
$strawberry-red: #ff0c38;
$white: #FFFFFF;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;