// Colors
$black: #000000;
$gray-dark: #2d2d2d;
$pink-dark: #ffb3de; // ffb3de || ffa5bb
$pink-light: #ffe7f0;
$red-dark: #ff0c38;
$white: #FFFFFF;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;